* {
  font-family: "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  color: aliceblue;
}

body {
  height: 2000px;
  background-color: #010415;
}

nav {
  font-weight: 400;
  font-size: 0.95rem;
}

nav .navbar-nav {
  border-radius: 80px;
  background-color: rgba(1, 4, 21, 0.4);
}

nav ul {
  padding: 3px 0;
}

nav ul li a {
  border-radius: 50px;
}

.current {
  margin-top: 5px;
  padding: 3px;
  background-color: aliceblue;
  color: #010415 !important;
}

header {
  height: 1300px;
}

.header_animation {
  height: 1000px;
}

.header_content {
  top: 10rem;
  height: 1000px;
}

.header_intro h1 {
  width: 24rem;
  font-size: 3rem;
}

.w-35 {
  width: 35%;
}

.header_ticket_1 {
  top: 0;
  left: 0;
  background-color: #141727;
}

.header_ticket_2 {
  bottom: 0;
  right: 0;
  background-color: #141727;
}

.title {
  font-size: 45px;
}

.projects_imgs .item {
  height: 600px;
}

.projects_imgs .item .over_img {
  bottom: 0;
  right: 0;
}

.projects_imgs .item .over_data {
  bottom: 0;
  left: 0;
}

.projects_imgs .item2 {
  background-image: none;
  background-color: #0c3029;
}

.projects_imgs .item2 .over_img {
  width: 60% !important;
}

.projects_imgs .item3 .over_data .data h5,
.projects_imgs .item3 .over_data .data p {
  color: #010415 !important;
}

.projects_imgs .item4 {
  background-image: none;
  background-color: #3a337c;
}

.ticket {
  background-color: #141727;
}

.client {
  height: 450px;
  background-color: #141727;
}

.client .logo {
  width: 100px;
}

.client_ticket_lower_part .img {
  width: 50px;
  height: 50px;
}

.client_ticket_lower_part .img img {
  border-radius: 50%;
}

footer .content .logo img {
  width: 50px;
  height: 50px;
}
